<div class="item">
  <input type="checkbox" class="item-checkbox" (click)="completedItem(item.id)" [checked]="item.completed" />
  <div *ngIf="!editing; else formSection" class="item-text">{{ item.text }}</div>
  <ng-template #formSection>
    <form class="item-fixForm" [formGroup]="fixItemForm" (ngSubmit)="fixItem(item.id, fixItemForm.value.text)" #fixForm="ngForm" >
      <input type="text" class="item-fixForm-input" [formControl]="fixItemForm.controls['text']" />
      <button type="submit" class="item-fixForm-btn" [disabled]="fixForm.form.invalid"><fa-icon class="mx-2" [icon]="['fas', 'check']"></fa-icon></button>
    </form>
  </ng-template>
  <div class="item-operation">
    <span class="icon"(click)="editItem()"><fa-icon class="mx-2" [icon]="['fas', 'edit']"></fa-icon></span>
    <span class="icon" (click)="removeItem(item.id)"><fa-icon class="mx-2" [icon]="['fas', 'trash-alt']"></fa-icon></span>
  </div>
</div>
