.list-block {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #eee;
    color: #6c757d;
    width: calc(60% + 4.8rem);
    margin: 0 auto;
}

@media (max-width: 767.98px) {
    .list-block {
        width: calc(70% + 4.8rem);
    }
}
