.input-section {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 60%;
    padding: 0.7rem;
    color: #6c757d;
    font-size: 1.3rem;
    vertical-align: bottom;
}

.btn-addItem {
    background-color: #6c757d;
    color: #e7e7e7;
    border: none;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.7rem 0.7rem;
    vertical-align: bottom;
    cursor: pointer;
}

.btn-addItem:disabled {
    color: #bdbdbd;
}

@media (max-width: 767.98px) {
    .input-section {
        width: 70%;
    }
}
