.filter-nav {
    display: flex;
    flex-flow: row wrap;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    border-bottom: #9ca5ad 1px solid;
}

.filter-nav > .filter-link {
    flex: 3;
    text-align: left;
}

.filter-nav a {
    color: #6c757d;
    text-decoration: none;
    padding: 0.2rem 0.3rem;
}

.filter-nav a:hover {
    color: #252a2e;
}

.filter-nav > .filter-operation {
    flex: 2;
    text-align: right;
}

.filter-operation > .icon {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}